/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
  --header-height: 3rem;

  /* Colors */
  --title-color: #0B0A0A;
  --text-color: #403A3A;
  --text-color-light: #707070;
  --container-color: #FAFAFA;
  --container-color-alt: #F0EFEF;
  --body-color: #FCFCFC;

  /* Font and typography */
  --body-font: 'Poppins', sans-serif;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.2rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: .875rem;
  --smaller-font-size: .813rem;

  /* Font weight */
  --font-medium: 500;
  --font-semi-bold: 600;

  /* Marges */
  --mb-1: .5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;

  /* Z-index */
  --z-tooltip: 10;
  --z-fixed: 100;
}

  /* Base */
*,::before,::after {
    box-sizing: border-box;
  }

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 0 var(--header-height) 0;
  padding: 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background: var(--body-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
}

h1, h2, h3, ul {
  margin: 0;
}

h1, h2, h3 {
  color: var(--title-color)
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: var(--text-color);
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: .1rem;
  bottom: 0;
  left: 0;
  background-color: var(--text-color);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.home__container:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}


img {
  max-width: 100%;
  height: auto;
}

.section {
  padding: 1.5rem 0;
}

.section__title {
  font-size: var(--h2-font-size);
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  text-transform: uppercase;
  letter-spacing: .35rem;
  text-align: center;
  margin-bottom: var(--mb-3);
}

/* Layout */
.bd-container {
  max-width: 968px;
  width: calc(100% - 3rem);
  margin-left: var(--mb-3);
  margin-right: var(--mb-3);
}

.bd-grid {
  display: grid;
  gap: 1.5rem;
}

/* Nav */
.nav {
  bottom: -100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__menu {
  position: fixed;
  bottom: 93%;;
  padding: 1rem 1.5rem;
  background-color: var(--body-color);
  box-shadow: 0 1px 4px rgba(0,0,0,.1);
  border-radius: 1rem 1rem 0 0;
  z-index: var(--z-fixed);
  transition: .3s;
}

.nav__list {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: 1.67rem;
}

.nav__logo,
.bx-grid-alt {
  display: none;
}

@media screen and (max-width: 968px) {
  .nav__menu {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    padding: 2rem 1.5rem;
    background-color: var(--body-color);
    box-shadow: 0 1px 4px rgba(0,0,0,.1);
    border-radius: 1rem 1rem 0 0;
    z-index: var(--z-fixed);
    transition: .3s;
  }

  .nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }

  .l-header {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);
    box-shadow: 0 -1px 4px rgba(0,0,0,.1);
    transition: .3s;
  }
  
  .nav__logo,
  .nav__toggle,
  .bx-grid-alt {
    display: block;
    color: var(--title-color);
    font-weight: var(--font-medium);
  }

  .footer {
    display: none;
  }
}

.nav__toggle {
  font-size: 1.2rem;
  cursor: pointer;
}

.nav__item {
  text-align: center;
}

.nav__link {
  display: flex;
  flex-direction: column;
  font-size: var(--small-font-size);
  color: var(--textcolor-light);
  font-weight: var(--font-medium);
}

.nav__link:hover {
  color: var(--title-color);
}

.nav__icon { 
  font-size: 1.2rem;
  margin-bottom: var(--mb-1);
}

/* Show menu */

.show-menu {
  bottom: var(--header-height);
}

.active-link {
  color: var(--title-color);
}

/* Home */
.profile {
  position: relative;
}

.profile__container {
  gap: 3rem;
}

.profile__data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile__img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  justify-content: center;
  margin-bottom: var(--mb-1);
}

.profile__title {
  font-size: var(--h1-font-size);
}

.home__profession {
  font-size: var(--normal-font-size);
  margin-bottom: var(--mb-1);
}

.contact__information {
  display: flex;
  align-items: center;
  font-size: var(--small-font-size);
}

.contact__icon {
  font-size: 2rem;
  margin-right: .5rem;
}

.contact__links {
  margin-top: 1.25rem;
}

.home__button-movil {
  display: inline-block;
  border: 2px solid var(--text-color);
  color: var(--title-color);
  padding: 1rem 2rem;
  border-radius: .25rem;
  transition: .3s;
  font-weight: var(--font-medium); 
  margin-top: var(--mb-3);
}

.home__button-movil:hover {
  background-color: var(--text-color);
  color: var(--container-color);
}

/* Skills */
.skills__content {
  grid-template-columns: repeat(2, 1fr);
}

.skills__content {
  gap: 0;
}

.skills__name,
.courses__name,
.projects__name {
  display: flex;
  align-items: center;
  margin-bottom: var(--mb-3);
}

.skills__circle,
.courses__circle,
.projects__circle {
  display: inline-block;
  width: 5px;
  height: 5px;
  background-color: var(--text-color);
  border-radius: 50%;
  margin-right: .75rem;
}

/* Education and experience */
.education__content {
  display: flex;
}

.education__time {
  padding-right: 1rem;
}

.education__rounder {
  position: relative;
  display: block;
  width: 16px;
  height: 16px;
  background-color: var(--text-color-light);
  border-radius: 50%;
  margin-top: .25rem;
}

.education__line {
  display: block;
  width: 2px;
  height: 110%;
  background-color: var(--text-color-light);
  transform: translate(7px, 0);
}

.education__data {
  gap: .5rem;
}

.education__title {
  font-size: var(--h3-font-size);
}

.education__studies {
  font-size: var(--small-font-size);
  color: var(--title-color);
}

.education__year {
  font-size: var(--smaller-font-size);
}

/* Scroll top */
.scroll-top {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .3rem;
  background-color: var(--container-color-alt);
  border-radius: .4rem;
  z-index: var(--z-tooltip);
  transition: .4s
}

.scroll-top__icon {
  font-size: 1.2rem;
  color: var(--text-color);
}

.show-scroll {
  visibility: visible;
  bottom: 5rem;
}

/* Media queries */
/* @media screen and (max-width: 320px) {
  .nav__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem, .5rem;
  }
  
  .nav__menu {
    bottom: -30rem;
  }
} */

/* Classes modified for large screen size */
@media screen and (min-width: 968px) {
  body {
    margin: 10rem 0 0 0;
  }

  bd-container {
    margin-left: auto;
    margin-right: auto;
  }

  .bd-container {
    margin: 0 auto;
  }

  .scroll-top {
    display: none;
  }

  .resume {
    display: grid; 
    grid-template-columns: 0.5fr 1fr; 
    grid-template-rows: 1fr; 
    background-color: var(--container-color);
    box-shadow: 0 0 8px rgba(13,12,12,.15);
    margin-bottom: var(--mb-3);
  }

  .resume__left {
    background-color: var(--container-color-alt);
  }

  .resume__left,
  .resume__right {
    padding: 0 1.5rem;
  }

  .sectiont-title,
  .profile__description {
    text-align: initial;
  }

  .home__container {
    gap: 1.5rem;
  }

  .home__button-movil {
    display: none;
  }

  .footer {
    max-width: 968px;
    width: calc(100% - 3rem);
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    height: 5rem;
    background: linear-gradient(to bottom right, #403F44, #1E1B32);
  }
  
  .footer__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px 20px 60px;
    color: white;
  }
}

.footer__svg {
  width: 5rem;
  height: 2rem;
  fill: #fff;
  transition: all .2s linear;
}

.footer__svg:hover {
  transform: scale(1.1);
}

.img__zoom {
  transition: all .2s linear;
}

.img__zoom:hover {
  transform: scale(1.1);
}
